/* LoadingDots.css */
.loading-dots {
    display: flex;
  }
  
  .dot {
    animation: dotAnimation 0.5s ease-in-out infinite;
    margin: 0 2px;
  }
  
  @keyframes dotAnimation {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }