.image-container {
    max-width: 400px;
    padding-top: 6px;
    position: relative;
}

.rotate-on-hover {
    transition: transform 20s ease; /* Adjust the duration as needed */
}

.rotate-on-hover:hover {
    transform: rotate(360deg);
}